:root
{
	--rose-color: #f38181;
	--turquise-color: #95e1d3;
	--roboto-font: 'Roboto', sans-serif;
	--kaushan-font: 'Kaushan Script', cursive;
	--grey-color:#999999;
}
html
{
	box-sizing: border-box;
	/* font-family: 'Kaushan Script', cursive;
	 font-family:  'Roboto', sans-serif;*/

}

*, 
*::before, 
*::after
{
	box-sizing: inherit;
}

body {
	
	font-family: 'Montserrat', sans-serif;
	background: white;
}

img
{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-transform: uppercase;
	text-decoration: none;
}

.container
{
	width: 1200px;
	margin: 0 auto;
}

.head-module
{
	padding-top: 29px;
	padding-bottom: 113px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.first-item
{
	text-transform: none;
	transition: color 800ms linear;
}
.first-item:hover
{
	color:var(--rose-color);
}

nav.navigation
{
	width: 490px;
}

.first-item
{
	display: block;
	padding: 12px;
	font-size: 30px;
	color: var(--turquise-color);
	font-weight: bold;
}
.list-navigation
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 14px;
	
}

.list-navigation li
{
	display: block;
	border-bottom: none;
	transition: box-shadow 800ms ease-in-out;
} 

.list-navigation>li>a
{
	display: block;
	padding: 12px;
	color:var(--turquise-color);
	transition: color 800ms linear;
}
.list-navigation>li>a:hover
{
	color: var(--rose-color);
}
.list-navigation>li:hover 
{
	box-shadow: 0px 3px 0px 0px var(--rose-color);
	
}




.service
{
	padding-bottom: 105px;  /* Отступ первой секции */
}


.cursive-header
{
	display: block;
	margin: 0;
	font-family: var(--kaushan-font);
	text-transform: none;
	font-weight: 400;
	font-size: 24 px;
	margin-bottom: 24px;
}

.service h2.normal-header, .our-team h2.normal-header
{
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 66px;
}


.service>h2.normal-header::after, .our-team>h2.normal-header::after
{
	display: block;
	margin: auto;
	margin-top: 45px;
	content: "";
	height: 3px;
	width: 60px;
	background-color:var(--rose-color);
}
.service-list
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.service-parts
{
	display: block;
	position: relative;
	list-style-type: none;
	width: 392px;
	margin-bottom: 132px;
}

.service-parts:nth-last-child(-n+3)
{
	margin-bottom: 0;
}

.service-parts::before
{
	content: "";
	display: block;
	height: 36px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: left;
}

.photo::before{
	background-image: url(../img/photography.png);
}
.web::before{
	background-image: url(../img/web-design.png);
}
.create::before{
	background-image: url(../img/creativity.png);
}
.seo::before{
	background-image: url(../img/seo.png);
}
.css-html::before{
	background-image: url(../img/css-html.png);
}
.digital::before{
	background-image: url(../img/digital.png);
}

.service-parts-name
{
	display: block;
	position: absolute;
	top: 0;
	left: 60px;
	margin: 0;
}
.service-parts-name h3
{
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 20px;
}
.service-parts-name p
{
	margin: 0;
	font-family: var(--roboto-font);
	font-size: 15px;
	font-weight: 400;
	color: var(--grey-color);
}

.our-team
{
	margin: 0;
	padding-bottom: 86px;
}

.our-team h2
{
	margin: 0;
	text-align: center;
	
}
.our-team h2::after
{
	margin: 43px auto 47px;
	content: "";
	height: 3px;
	width: 60px;
	background-color:var(--rose-color);
	background-position: center;
	background-repeat: no-repeat;
}

.our-team>.our-team-description
{
	margin: auto;
	width: 980px;
	margin-bottom: 96px;
	font-family:  var(--roboto-font);
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}

.our-team-list
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.our-team-parts 
{
	list-style-type: none;
	width: 380px;
	position: relative;
	transition: all 2s ease-in-out;
}
.our-team-parts:last-child
{
	margin-right: 0;
} 
.about-mans
{
	padding-top: 15px; /* отступ от картинок до подписей*/
}

.our-team-parts h3
{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.our-team-parts p
{
	margin: 0;
    padding: 0;
	font-family:  var(--roboto-font);
	font-style: italic;
	color: var(--grey-color);
	text-align: center;
	font-size: 15px;
	line-height: 24px;

}

.modal-personal
{
	display: none;
}


.our-team-parts:hover .modal-personal
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.our-team-parts:hover .mans
{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-10px, -10px);
	animation: img-appear 200ms linear;
	z-index: 1;
}
.our-team-parts:hover .fill-around
{
	width: 380px;
	height: 470px;
	background-color: var(--turquise-color);
	z-index: 0;
}

.footer-page
{
	margin: 0;
	height: 63px;
}
.footer-page .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5e5e5;
}
.footer-page__info
{
	padding: 10px;
}
.footer-page p
{
	margin: 0;
}
.footer-page input[type='text']
{
	display: inline-block;
	width: 230px;
	height: 40px;
	font-style: italic;
	color: #cccccc;
	padding: 15px;
}
.footer-page button
{
	display: inline-block;
	cursor: pointer;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	background: var(--turquise-color);
	border: none;
	border-radius: 2px;
	color: white;
}
.footer-page span
{
	color: var(--rose-color);
}