html
{
	box-sizing: border-box;
}

*, 
*::before, 
*::after
{
	box-sizing: inherit;
}

body {
	font-family: 'Playfair Display', serif;
	width: 1200px;
	margin: 0 auto;
	color: #626262;
}

header.container
{
	padding-top: 76px;
	padding-bottom: 76px;
	margin-bottom: 30px;
}

.navigation
{
	margin: 0;
	padding: 0;
	font-size: 0;	
	text-align: center;
	vertical-align: middle;
	margin: 0 165px;
}

.navigation li
{
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
}

.navigation li:nth-child(1)
{
	margin-right: 116px;
}
.navigation li:nth-child(2)
{
	margin-right: 104px;
}
.navigation li:nth-child(3)
{
	margin-right: 96px;
}
.navigation li:last-child(4)
{
	margin: 0;
}


.navigation li>a
{
	display: block;
	cursor: pointer;
	text-decoration: none;
	color:#626262;
	font-size: 14px;
	line-height: 24px;
}

.navigation li>a:hover, .navigation li>a:focus
{
	color: #03a9f4;
}


.container
{
	width: 900px;
	margin: 0 auto;
}

.information-list
{
	margin: 0;
	padding: 0;
	font-size: 0;
}

.information-list-item
{
	display: inline-block;	
	width: 420px;
	height: auto;
	vertical-align: top;
}

.information-list-item-img
{
	display: block;
	margin-bottom: 24px;
}

.information-list-item:nth-child(odd)
{
	margin-right: 60px;
}

.information-list-item>h2 
{
	margin: 0;
	margin-bottom: 34px;
	font-size: 30px;
}

.information-list-item>h3 
{
	margin: 0;
	margin-bottom: 24px;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	color:#b4ad9e;
	text-transform: uppercase;
	font-weight: normal;
}

.information-list-item>p 
{
	margin: 0;
	margin-bottom: 136px;
	font-size: 14px;
	line-height: 24px;
}

.information-list-item:nth-last-child(-n+2)>p
{
	margin-bottom: 56px;
}

div.button{
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 70px;
}

INPUT[type="button"] {
	padding: 0;
	border: 1px solid black;
	cursor: pointer;
	background: white;
	text-align: center;
	width: 164px;	
	height: 60px;
	font-size: 20px;
	color: #626262;
}