.modal-seller
{
    position: absolute;
    padding: 0;
    margin: 0;
    display: none;
    top: 10px;
    left: 10px;

    width: 235px;
height: 260px;
background: rgba(0,0,1, 0.55);  /*  Прозрачность модального окна 0.55*/
}

.icons
{
    padding-top: 80px;
    padding-left: 36px;
}

.icons button{
    cursor: pointer;
    float: left;
    display: block;
    margin-right: 9px;
}

.heart
{
    border: none;
    width: 50px; 
    height: 50px;
    background: url(../img/heart.png);
}
.heart:hover{
    background-color: #1abc9c;
}
.two-lines
{
    border: none;
    width: 50px; 
    height: 50px;
    background: url(../img/two-lines.png);
}
.two-lines:hover{
    background-color: #1abc9c;
}
.time
{
    border: none;
    width: 50px; 
    height: 50px;
    background: url(../img/time.png);
}
.time:hover{
    background-color: #1abc9c;
}
.sell
{
    border: none;
    background: url(../img/sell.png);
    margin-top: 7px;
    width: 166px;
height: 50px;
}

.sell:hover
{
background-color: #323232;
}