.slider
{
    position: relative;    
    width: 1600px;
    height: 600px;
    margin: auto;
    background: #e9f0fd;
}

.slider-button
{
    position: absolute;
    top: 50%;
    background: #19bb9b no-repeat;
    transform: translateY(-50%);
    border: none;
    width: 104px;
    height: 104px;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.slider-button>img
{
    display: block;
    margin: auto;
    margin-top: 31px;
}


.slider-button-next
{
    background-image: url(../img/next.png);
     right: 245px; 
    
}

.slider-button-prev
{
    background-image: url(../img/prev.png);
     left: 245px; 
}

.slides
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides-item
{
    position: relative;
    margin: 0;
    padding: 0;
}

.slides-image{
    width: 1600px;
    object-fit: cover;
}

.slides-text {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    left: 430px;
    margin: 0;
    padding: 0;
    width: 740px; 
    letter-spacing: -2px;
} 
.slides-text h2 {
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #fff;
    font-family: "Roboto Black";
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    text-align: left;
}
.slides-text p {
    margin: 0;
    font-size: 24px;
    line-height: 54px;
    color: #fff;
    text-transform: uppercase;
}