html
{
	box-sizing: border-box;
	/**/
	/**/
}

*, 
*::before, 
*::after
{
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	background: white;
}

img
{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

.container
{
	width: 1110px;
	margin: 0 auto;
}

.clearfix::after 
{
	content: "";
	display: table;
	clear: both;
}

.head-module
{
	margin-bottom: 105px;
}

.first-item
{
	display: block;
	float: left;
	font-size: 30px;
	line-height: 32px;
}
.first-item::first-letter
{
	display: block;
	color: #1abc9c;
	font-weight: bold;
}

nav.navigation
{
	float: right;
	width: 475px;
	margin-top: 10px;
}
.list-navigation
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 11px;
	color: black;
	
}

.list-navigation li
{
	display: block;
	float: left;
} 
.list-navigation li:not(:last-child)
{
	margin-right: 30px;
}
a:hover
{
	color:#1abc9c;
}

 .head-section
{
	color: #555252;
	text-align: center;
	font-size: 48px;
	line-height: 32px;
	text-transform: uppercase;
	margin:0;
} 

/* Нижняя разделительная линия*/
.head-section:after
{
	display: block;
	content: "";
	margin-top: 32px;  /* Отступ от заголовка секции до разделительной зеленой линии */
	height: 7px;
	background-image:url('../img/green-line.png');
	background-position: center;
	background-repeat: no-repeat;
}


.featured-products
{
	padding-bottom: 105px;  /* Отступ первой секции */
}
.featured-products h2
{
	margin-bottom: 93px; /* отступ от зеленой разделительной линии 
	до блока с карточками */
}
.features-list
{
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
.featured-products-parts
{
	display: block;
	float: left;
	list-style-type: none;
	width: 255px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.featured-products-parts:nth-child(4n)
{
	margin-right: 0;
}
.featured-products-parts:nth-last-child(-n+4)
{
	margin-bottom: 0;
}

.featured-products-parts-name
{
	float: left;
	background: #323232;
	color: white;
	width: 200px;
	height: 40px;
}
.featured-products-parts-price
{
	float: left;
	background: #8c8c8c;
	color: white;
	width: 54px;
	height: 40px;
}
.featured-products-parts-name p, .featured-products-parts-price p
{
	margin: 14px;
}
/* Эффект изменения цвета нижних блоков при наведении на весь блок*/
.featured-products-parts:hover .featured-products-parts-name 
{
	background: #1abc9c;
}
.featured-products-parts:hover .featured-products-parts-price
{
	background: #7fd9c7;
}

.latest-news
{
	font-family: 'Open Sans', sans-serif; /*В этой секции шрифт Open Sans кроме h2*/
	padding-bottom: 45px; /*Отступ второй секции*/
}

.latest-news h2
{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 81px; /* отступ от зеленой разделительной линии 
	до блока с карточками */
}

.latest-news-list
{
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

.latest-news-parts 
{
	float: left;
	list-style-type: none;
	width: 350px;
	margin-right: 30px;
}
.latest-news-parts:last-child
{
	margin-right: 0;
} 
.latest-news-parts img
{
	margin-bottom: 15px; /* отступ от картинок до подписей*/
}

.latest-news-parts p
{
	font-size: 14px;
	line-height: 26px;
	margin: 0;
    padding: 0;
}
.latest-news-parts h3
{
	font-size: 18px;
	line-height: 26px;
}
/* Нижняя разделительная линия*/
.latest-news-parts h3:after
{
	display: block;
	content: url(../img/green-line-small.png);
	margin-bottom: 30px;

}
.latest-news-parts p
{
	margin: 0;
	padding: 0;
	margin-bottom: 18px;
}
.latest-news-parts a
{
	display: block;
	width: 160px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: capitalize;
	background: #4ec6ab;
	border: none;
	border-radius: 2px;
	color: white;
}