$main-color: white;
$hover-color: #fce38a;
$rose-color: #f38181;
$turquise-color: #95e1d3;
$heads-color: #333333;
$text-color: #999999;
$roboto_font: 'Roboto', sans-serif;
$kaushan_font: 'Kaushan Script', cursive;
$montserrat_font: "Montserrat", sans-serif;