:root{
	--main-color: white;
	--hover-color: #fce38a;
    --rose-color: #f38181;
    --turquise-color: #95e1d3;
}
.modal-personal
{
    position: absolute;
    padding: 0;
    margin: 0;
    display: none;
    

    width: 380px;
height: 470px;


background: rgb(238,137,138); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(rgba(238,137,138,0.85)),to(rgba(252,227,138,0.85)));
background: -o-linear-gradient(top, rgba(238,137,138,0.85) 0%,rgba(252,227,138,0.85) 100%);
background: linear-gradient(to bottom, rgba(238,137,138,0.85) 0%,rgba(252,227,138,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee898a', endColorstr='#fce38a',GradientType=0 ); /* IE6-9 */
animation: img-appear 500ms ease-in-out;
transform: translate(-10px, -10px);
}

@keyframes img-appear 
{

	0% 
		{
			transform: translate(0, 0);
		}
	100%
	{
		transform: translateY(-10px, -10px);
	}	
}

.modal-personal__icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 207px;
    margin-left: 78px;
    width: 225px;
}

.modal-personal__link{
    
    background-color: var(--hover-color);
    cursor: pointer;
    display: block;
    width: 55px; 
    height: 55px;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
    fill: var(--rose-color);
}
.modal-personal__link:hover
{
 background-color: var(--rose-color);
}
.modal-personal__link:hover .modal-personal__icon{

    fill: var(--main-color);
}

.modal-personal__link
{
    border: none;
    position: relative;
}
.modal-personal__icon
{
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}