:root{
	--main-color: white;
	--hover-color: #fce38a;
	--rose-color: #f38181;
	--turquise-color: #95e1d3;
}

html
{
	box-sizing: border-box;

}

*, 
*::before, 
*::after
{
	box-sizing: inherit;
}

body {
	
	font-family: 'Montserrat', sans-serif;
	background-color: var(--main-color);
}

img
{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-transform: uppercase;
	text-decoration: none;
}

.head-module
{
	padding-top: 18px;
	padding-bottom: 113px;
	height: 1000px;
	background-image: linear-gradient(to bottom, rgba(238,137,138,0.85) 0%,rgba(252,227,138,0.85) 100%), url(../img/eagle-min.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2)
{
	.head-module
	{
	background: linear-gradient(to bottom, rgba(238,137,138,0.85) 0%, rgba(252,227,138,0.85) 100%), url(../img/retina/eagle-min@2x.png);
	}
}

.container-image
{
	width: 100%;
	margin: 0 auto;
}

.container
{
	width: 1200px;
	margin: 0 auto;
}

.menu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 160px;
}

.first-item
{
	display: block;
	padding: 12px;
	font-size: 30px;
	color: var(--main-color);
	font-weight: bold;
	text-transform: none;
	transition: color 200ms linear;
}
.first-item:hover
{
	color: var(--hover-color);
}

nav.navigation
{
	padding: 0;
	margin: 0;
	width: 490px;
}

.navigation__list
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 14px;
	
}

.navigation__list li
{
	display: block;
	transition: all 200ms linear;
	border-bottom: none;
} 

.navigation__link
{
	display: block;
	padding: 12px;
	color:var(--main-color);
	transition: color 200ms linear;
}
.navigation__link:hover
{
	color: var(--hover-color);
}
.navigation__item:hover 
{
	box-shadow: 0px 3px 0px 0px var(--hover-color);
	
}

.center-mogo
{
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.welcome-mogo__cursive_header
{
	padding: 0;
	margin: 0;
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	font-weight: 400;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 40px;
}
.welcome-mogo__big_header
{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 150px;
	font-weight: 700;
	color: var(--main-color);
	text-transform: uppercase;
	line-height: 140px;
	text-align: center;
	margin-bottom: 80px;
}
.welcome-mogo__learn_more_mogo
{
	padding: 0;
	margin: 0 auto;
	display: block;
	width: 160px;
height: 40px;
border: 3px solid #fff; /* stroke */
text-transform: uppercase;
font-family: "Montserrat";
font-size: 14px;
color: var(--main-color);
font-weight: bold;
padding: 10px 0;
cursor: pointer;
}
.welcome-mogo__learn_more_mogo:hover
{
	transform: scale(1.1);
}

.service
{
	padding-bottom: 105px;  /* Отступ первой секции */
}


.service__cursive-header, .our-team__cursive-header
{
	display: block;
	margin: 0;
	font-family: 'Kaushan Script', cursive;
	text-transform: none;
	font-weight: 400;
	font-size: 24 px;
	margin-bottom: 24px;
	padding-top: 50px;
}

.service__normal-header, .our-team__normal-header
{
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 66px;
}


.service__normal-header::after, .our-team__normal-header::after
{
	display: block;
	margin: auto;
	margin-top: 45px;
	content: "";
	height: 3px;
	width: 60px;
	background-color: var(--rose-color);
}
.service-list
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.service-parts
{
	display: block;
	position: relative;
	list-style-type: none;
	width: 392px;
	margin-bottom: 96px;
}

.service-parts:nth-last-child(-n+3)
{
	margin-bottom: 0;
}

.service-parts::before
{
	content: "";
	display: block;
	height: 36px;
	background-color: var(--main-color);
	background-repeat: no-repeat;
	background-position: left;
}

.photo::before{
	background-image: url(../img/photography-min.png);
}
.web::before{
	background-image: url(../img/web-design-min.png);
}
.create::before{
	background-image: url(../img/creativity-min.png);
}
.seo::before{
	background-image: url(../img/seo-min.png);
}
.css-html::before{
	background-image: url(../img/css-html-min.png);
}
.digital::before{
	background-image: url(../img/digital-min.png);
}

.service-parts-name
{
	display: block;
	position: absolute;
	top: 0;
	left: 60px;
	margin: 0;
}
.service-parts-name__header
{
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 20px;
}
.service-parts-name__text
{
	margin: 0;
	font-family:  'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #b6b6b6;
}

.our-team
{
	margin: 0;
	padding-bottom: 86px;
}

.our-team h2
{
	margin: 0;
	text-align: center;
	
}
.our-team__normal-header::after
{
	margin: 43px auto 47px;
	content: "";
	height: 3px;
	width: 60px;
	background-color:var(--rose-color);
	background-position: center;
	background-repeat: no-repeat;
}

.our-team__our-team-description
{
	margin: auto;
	width: 980px;
	margin-bottom: 96px;
	font-family:  'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}

.our-team__our-team-list
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.our-team__our-team-parts 
{
	list-style-type: none;
	width: 380px;
	position: relative;
}
.our-team__our-team-parts:last-child
{
	margin-right: 0;
} 
.about-mans
{
	padding-top: 15px; /* отступ от картинок до подписей*/
}

.about-mans__header
{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.about-mans__text
{
	margin: 0;
    padding: 0;
	font-family:  'Roboto', sans-serif;
	font-style: italic;
	color: #999999;
	text-align: center;
	font-size: 15px;
	line-height: 24px;

}

.modal-personal
{
	display: none;
}

.mans
{
	width: 380px;
	height: 470px;
}



.our-team__our-team-parts:hover .mans__image
{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-10px, -10px);
	animation: img-appear 1s linear;
	z-index: 1;
}
.our-team__our-team-parts:hover .modal-personal
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}




.our-team__our-team-parts:hover .fill-around
{
	width: 380px;
	height: 470px;
	background-color: var(--turquise-color);
	z-index: 0;
}


.footer-page
{
	margin: 0;
	height: 63px;
}
.footer-page .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5e5e5;
}
.footer-page p
{
	margin: 0;
}
.footer-page input[type='text']
{
	display: inline-block;
	width: 230px;
	height: 40px;
	font-style: italic;
	color: #e0e0e0;
}
.footer-page button
{
	display: inline-block;
	cursor: pointer;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	background: #95e1d3;
	border: none;
	border-radius: 2px;
	color: var(--main-color);
}
.footer-page span
{
	color: var(--rose-color);
}
input[type="text"]::placeholder
{
	padding: 15px;
}